/* Global Css File*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-background: #121212;
    --color-card-background: #1E1E2E;
    --color-accent-primary: #56B6C2;
    --color-accent-secondary: #C678DD;
    --color-text-main: #E0E0E0;
    --color-code-snippets: #98C379;
    --color-border-line: #2D2D2D;
    --color-navbar: #22272E; /* alt color : 3a322d */
}

body {
    font-family: 'Inter', Arial, sans-serif;
    background: var(--color-background);
    color: var(--color-text-main);
}